<html>
<center>
  <div style="display: inline-block;">
  <img src="../../../../resources/images/logo.jpg" style="width:96px; height:96px; vertical-align:middle;"><font style="font-size: 80px; vertical-align:middle;">NGO EDU-NEXUS</font>
</div>


</center>
<p>Dear %recipent_name%,</p>
<p>
Your request for changing password has been acknowledged. Please use the following OTP to enable change of password permission.</p>
<p>OTP : <font style="font-size:20px; font-weight: bold; user-select: none;">676666</font></p>
<p>Regards,</p>
<b>Public Relations Team</b><br>
For further queries,<br>
Mail us at : subhomanutd040995@gmail.com

<hr>
<center><font style="font-size:12px;">Developed By CodeStars. Version : v0.1. All Copyrights Reserved</font></center>



</html>
